.timeline_sheet{
	width:90%;
	margin:5%;
	padding:10px;
	background-color:white;
}

.text_box{
	margin:50px;
	padding-bottom:50px;
	border: 2px solid black;
}

.margin_button{
	margin:10px;
	margin-right:50px;
}

.margin_box{
	height:20px;
	width:100%;
	background-color:red;
}
